//- module

mixin prj-list(opt)
  .w-640&attributes(attributes)
    a.text-dark.text-no-deco(href=`/p/${opt.slug}`)
      .d-flex.align-items-center
        .rounded.bg-dark.bg-cover.bg-portrait.mr-1(style=`width:3em;height:3em;background-image:url(${opt.thumb});flex:0 0 auto`)
        .text-truncate
          .d-flex.align-items-end.mb-1
            h5.mb-0.mr-1.text-truncate #{opt.name || '未命名的計劃'}
            .text-sm.text-muted By #{opt.ownername || '未具名'}
          .text-sm.text-muted.w-100.text-truncate  #{(opt.description || '').substring(0,100)} ...

mixin prj-list-sm(opt)
  div(style="width:320px")&attributes(attributes): a.text-dark.text-no-deco(href=`/p/${opt.slug}`)
    .d-flex.align-items-center
      .rounded.bg-dark.bg-cover.bg-portrait.mr-1(style=`width:3em;height:3em;flex:1 0 auto;background-image:url(${opt.thumb})`)
      .text-truncate
        .d-flex.align-items-end.mb-1
          h5.mb-0.mr-1.text-truncate #{opt.name || '未命名的計劃'}
          .text-sm.text-muted By #{opt.ownername || '未具名'}
        .text-sm.text-muted.w-100.text-truncate  #{(opt.description || '').substring(0,100)} ...

mixin prj-thumb(opt)
  a.rounded.bg-dark.bg-cover.bg-portrait.mr-1.d-inline-block(href=`/p/${opt.slug}`,
  style=`width:3em;height:3em;background-image:url(${opt.thumb})`)&attributes(attributes)

mixin prj-card(opt)
  a.text-dark.text-no-deco(href=`/p/${opt.slug}`): .card(style="width:300px;overflow:hidden")&attributes(attributes)
    .card-img-top.w-100
      .aspect-ratio.ratio-4by3.bg-dark.bg-cover.bg-portrait.border-bottom(style=`background-image:url(${opt.thumb})`)
    .card-body
      h5.text-truncate #{opt.name || '未命名的提案'}
      .text-sm.text-muted.mb-2 By #[a(href=`/user/${opt.owner}`) #{opt.ownername || '未具名'}]
      .text-sm.text-muted.mb-2 #{(opt.description || '').substring(0,50)} ...

mixin prj-card-sm(opt)
  a.text-dark.text-no-deco(href=`/p/${opt.slug}`): .card(style="width:250px;overflow:hidden")&attributes(attributes)
    .card-img-top.w-100
      .aspect-ratio.ratio-3by2.bg-dark.bg-cover.bg-portrait.border-bottom(style=`background-image:url(${opt.thumb})`)
    .card-body
      h5.text-truncate #{opt.name || '未命名的提案'}
      .text-sm.text-muted.mb-2 By #[a(href=`/user/${opt.owner}`) #{opt.ownername || '未具名'}]
      .text-sm.text-muted.mb-2 #{(opt.description || '').substring(0,50)} ...

mixin prj-card-noframe(opt)
  .d-flex.flex-column(style="width:20em;overflow:hidden")&attributes(attributes)
    a.text-dark.text-no-deco(href=`/p/${opt.slug}`)
      if opt.showThumb
        .w-100
          .aspect-ratio.ratio-3by2.bg-light.bg-cover.bg-portrait.rounded-lg.mb-3(
          style=`background-image:url(${opt.thumb})`)
      .text-truncate(style="font-weight:500;font-size:1.25em") #{opt.name || '未命名的提案'}

    .text-muted.mb-2 By #[a(href=`/user/${opt.owner}`) #{opt.ownername || '未具名'}]
    .text-muted.mb-2.flex-grow-1 #{(opt.description || '').substring(0,50)} ...
    .d-flex.flex-wrap.mb-2
      each n in ["獲獎提案","決選入圍","最佳人氣", "許願提案"]
        if Math.random() > 0.9
          .text-sm.bg-danger.text-white.mr-2.my-2.px-2.py-1.rounded: b #{n}
    .mb-2(style="border-top:2px solid #eee")
    .d-flex.align-items-center.text-muted.text-sm
      .flex-grow-1 #[i.i-eye.mr-2] 21
      .flex-grow-1 #[i.i-heart.mr-2] 5
      div 開放政府

    //-
      hr.my-2
      .btn.btn-sm.btn-outline-secondary #{opt.category || '開放政府'}

//- 列表標頭

//- 置中式
mixin prj-list-head-center
  .w-100.text-light.bg-dark.mb-4.rounded(style="height:300px;background:url(/assets/img/dev/bk-minimal.png) center center no-repeat;background-size:cover"): .vertical-center: .w-100.text-center
    h3.font-weight-light 2019 公民科技創新獎助金
    p.text-muted.text-sm.mb-4 g0v 公民科技創新獎助金 - 8 個月、每個專案 30 - 50 萬，2019/1/13 提案截止。
    a.btn.btn-outline-light(href="/activity/landing.html") 關於此計畫
    .btn.btn-outline-light.ml-2(onclick="lda.ldcvmgr.toggle('propose')") 我要提案
  +prj-list-ctrl

//- 靠左式
mixin prj-list-head-side
  .w-100.text-light.bg-dark.mb-4.rounded(style="height:300px;background:url(/assets/img/dev/landing.jpg) center center no-repeat;background-size:cover")
    .vertical-center: .w-50.text-left.ml-4.pl-4
      h3.font-weight-light 2019 公民科技創新獎助金
      p.text-sm.mb-4(style="opacity:.65") g0v 公民科技創新獎助金 - 8 個月、每個專案 30 - 50 萬，2019/1/13 提案截止。
      a.btn.btn-outline-light(href="/activity/landing.html") 關於此計畫
      .btn.btn-outline-light.ml-2(onclick="lda.ldcvmgr.toggle('propose')") 我要提案
  +prj-list-ctrl

//- 操作面板
mixin prj-list-ctrl
  .d-flex.w-100.justify-content-between.py-2
    div
      .btn-group
        .btn.btn-outline-secondary 許願池
        .btn.btn-outline-secondary 得獎提案
        .btn.btn-outline-primary.active 全部提案 #[i.i-check]
    div
      .input-group
        input.form-control(placeholder="搜尋提案...")
        .input-group-append
          .btn.btn-outline-secondary 搜尋 #[i.i-search]

//- 簡式標頭
mixin prj-list-head-simple
  .d-flex.align-items-end
    .flex-grow-1
      h3.font-weight-light 2019 公民科技創新獎助金
      p.text-muted.text-sm.mb-0 g0v 公民科技創新獎助金 - 8 個月、每個專案 30 - 50 萬，2019/1/13 提案截止。 #[a(href="/activity/landing.html") 了解更多...]
    div: .input-group
      input.form-control(placeholder="搜尋提案...")
      .input-group-append
        .btn.btn-outline-secondary 搜尋 #[i.i-search]
  hr.mb-0
  .text-center.p-4
    .btn-group
      .btn.btn-sm.btn-outline-secondary 許願池
      .btn.btn-sm.btn-outline-secondary 得獎提案
      .btn.btn-sm.btn-outline-primary.active 全部提案 #[i.i-check]
    .btn.btn-sm.btn-outline-secondary.ml-2(onclick="lda.ldcvmgr.toggle('propose')") 我要提案
