//- module
mixin switch-lg(name,desc)
  .d-flex.mb-2.pt-2.align-items-center
    .flex-grow-1
      label.mb-0 #{name}
      .text-sm.text-muted #{desc}
    .ml-2
      .switch.switch-lg(ld="switch",data-name=name)

mixin switch(name,desc)
  .d-flex.mb-2.pt-2.align-items-center
    .flex-grow-1
      label.mb-0 #{name}
      .text-sm.text-muted #{desc}
    .ml-2
      .switch(ld="switch",data-name=name)

