//- view
extends /admin/base.pug
block head
  +css("/dash/assets/lib/handsontable/handsontable.min.css")
  +css("/dash/assets/lib/ldbar/loading-bar.min.css")
block body
block script
  +scope("admin").d-flex.flex-column.h-100.position-relative.z-float
    div(style="height:2.75em")
    .w-1200.h-100.rwd.mx-auto.d-flex.shadow-lg.rounded.my-4.position-relative(style="overflow:hidden")
      .position-absolute.w-100.h-100.bg-white.vertical-center.bg-cover(pd="init-loader",
      style="z-index:99999;background:radial-gradient(#fff,#eee,#ddd)")
        .text-center.w-100
          .mb-4: img.ldlz(data-src="/dash/assets/img/c/logo/grantdash-benchnine.svg")
          div: img.ldlz(data-src="/dash/assets/img/c/loader/spinner-gold.svg")

      //- side menu
      +scope("admin-menu").admin-menu.bg-dark.text-white.text-left(
      style="background:linear-gradient(0deg,#141a20,#343a40)")
        .sticky.z-fixed.bg-dark.d-flex.flex-column.no-select(
        style="top:0;transition:height .25s ease-in-out")
          div
            .folder.border-bottom.border-secondary.text-sm.no-dart(ld="folder org-menu nav",data-nav="main")
              .folder-item.folder-toggle.d-flex.align-items-center.py-3.pr-3.pl-0
                .mr-1: .bg-light.rounded(style="width:1.35em;height:1.35em")
                .flex-grow-1.text-truncate.text-capitalize(ld="org-name") ...
                .ml-1 #[i.i-bars]
              .folder-menu
                .folder-item(ld="nav-tab",data-name="org-config",data-nav="main") 組織設定
                //-.folder-item(ld="nav-tab",data-name="org-navbar",data-nav="main") 選單列
                .folder-item(ld="nav-tab",data-name="org-page-info") 頁面設定
                //-a.folder-item.d-flex.mb-3(href="/edit/")
                  .flex-grow-1 頁面編輯器
                  div: i.i-link
                .mb-2

            .clickable(ld="brd-bar",style="box-shadow:0 2px 3px rgba(0,0,0,1)")
              .d-flex.align-items-center.p-3.w-100
                .flex-grow-1.d-none(ld="brd")
                  .text-sm(ld="brd-progress")
                    i.i-radio.mr-1
                    span.mr-2(ld="brd-progress-text") ...
                  .text-capitalize(ld="brd-name") ...
                .flex-grow-1.text-truncate(ld="brd empty") 請選擇活動 ...
                .ml-2(ld="brd-list-toggle") #[i.i-dart-down]


        .border-top.border-secondary.border-bottom: .folder(ld="folder brd-list")
          .folder-item.folder-toggle.d-none
          .folder-menu
            .px-3.py-3(ld="brds empty")
              div 目前尚沒有任何活動可供您做選擇。
              .py-4.px-2.text-center
                a.btn.btn-primary(href="/dash/new/brd/") 立刻建立活動
            .px-3.py-3(ld="brds")
              .pb-2.text-sm.d-flex
                b.flex-grow-1 活動列表
                a.text-underline.text-white(href="/dash/new/brd/") 建立新活動
              //-.pb-2: input.form-control.form-control-sm.rounded(ld="brd-search",placeholder="搜尋...")
              a.py-2.d-block.clickable.text-no-deco.text-white(href="#",ld-each="brd-entry")
                .text-truncate
                .text-muted.text-sm


        .pt-2(pd="brd-menu",ld="nav",data-nav="main")
          .folder-item(ld="nav-tab",data-name="brd-config") 活動設定
          .folder(ld="folder")
            .folder-toggle.folder-item 活動頁面
            .folder-menu
              a.folder-item.d-flex(ld="brd-page",data-name="landing",
              href="#",target="_blank",rel="noopener noreferrer")
                .flex-grow-1 入口網頁
                div: i.i-link
              a.folder-item.d-flex(ld="brd-page",data-name="list",
              href="#",target="_blank",rel="noopener noreferrer")
                .flex-grow-1 提案列表
                div: i.i-link
              a.folder-item.d-flex(ld="brd-page",data-name="new-prj",
              href="#",target="_blank",rel="noopener noreferrer")
                .flex-grow-1 建新提案
                div: i.i-link

          .folder.show(ld="folder")
            .folder-toggle.folder-item 頁面客製
            .folder-menu
              .folder-item(ld="nav-tab",data-name="brd-post-list") 貼文管理
              //-.folder-item(ld="nav-tab",data-name="brd-navbar") 選單列
              .folder-item(ld="nav-tab",data-name="brd-page-info") 頁面設定
              //-a.folder-item.d-flex(href="/edit/")
                .flex-grow-1 頁面編輯器
                div: i.i-link
          //-.folder-item 建立複本
          .border-bottom.border-secondary.my-2
          div
            .folder(ld-each="grp-entry")
              .folder-toggle.folder-item.text-truncate(ld="name") 分組
              .folder-menu
                .folder-item(ld="nav-tab",data-name="grp-config") 設定
                .folder-item(ld="nav-tab",data-name="grp-list") 專案列表
                .folder-item(ld="nav-tab",data-name="grp-judge") 評選資訊
                .folder-item(ld="nav-tab",data-name="grp-form") 提案表
            .folder-item(ld="grp-add") 新增分組 ...
          .my-4
      //- content panel
      .flex-grow-1.d-flex.flex-column.bg-white

        .p-4.d-none.w-100.h-100.bg-white(
        ld="nav-panel",data-nav="main",data-name="brd-post-list",style="overflow-:scroll")
          include post-list.pug

        .flex-grow-1.bg-white(style="overflow-y:scroll")

          .position-relative(style="min-height:calc(100% - 4em)")
            .p-4.position-absolute.vertical-center(
            ld="nav-panel default", data-nav="main", data-name="welcome",
            style="top:0:left;right:0;bottom:0;top:0")
              include welcome.pug

            .p-4.d-none(ld="nav-panel",data-nav="main",data-name="org-config")
              include org/config.pug

            .p-4.d-none(ld="nav-panel",data-nav="main",data-name="brd-config")
              include brd/config.pug

            .p-4.d-none(ld="nav-panel",data-nav="main",data-name="org-page-info")
              include page.pug

            .p-4.d-none(ld="nav-panel",data-nav="main",data-name="brd-page-info")
              include page.pug

            .p-4.d-none(ld="nav-panel",data-nav="main",data-name="org-navbar")
              include navbar.pug

            .p-4.d-none(ld="nav-panel",data-nav="main",data-name="brd-navbar")
              include navbar.pug

            .p-4.d-none(ld="nav-panel",data-nav="main",data-name="grp-config")
              include grp/config.pug

            .p-4.d-none(ld="nav-panel",data-nav="main",data-name="grp-form")
              include grp/form.pug

            .p-4.d-none(ld="nav-panel",data-nav="main",data-name="grp-judge")
              include grp/judge/index.pug

            .d-none(ld="nav-panel",data-nav="main",data-name="grp-list")
              include grp/list.pug

            .d-none(ld="nav-panel",data-nav="main",data-name="grp-detail")
              include grp/detail.pug

          .bg-info.text-white.m-2.rounded.shadow-sm.d-none.py-2.px-4(
          pd="modified-warning",style="position:sticky;bottom:.5em")
            .d-flex.align-items-center.justify-content-end
              span 您已更動了一些設定，這些設定只要點擊右方的發布鈕後，就會生效。
              .btn.btn-sm.btn-outline-light.ml-4(pd="publish-modification") 發布變更
              //-.btn.btn-sm.btn-outline-light.ml-2(pd="restore-settings") 放棄變更

  .ldcvmgr.ldcv(data-name="brd-deletion"): .w-640.base: .inner.card: .card-body: .p-4
    h4 刪除活動
    p 確定要刪除此活動嗎？
    .row
      .col-md: .btn.btn-block.btn-lg.btn-outline-secondary(data-ldcv-set="") 取消
      .col-md: .btn.btn-block.btn-lg.btn-danger(data-ldcv-set="yes") 是的，請刪除


  +script("/dash/assets/lib/ldbar/loading-bar.min.js")
  +script("/dash/assets/lib/clipboard.js/2.0.4/clipboard.min.js")
  +script("/dash/assets/lib/handsontable/handsontable.min.js")
  +script("/dash/assets/lib/dompurify/2.0.11/purify.min.js")
  +script("/dash/assets/lib/marked/0.8.0/marked.min.js")
  +script("/dash/js/util/sdb-adapter.js")
  +script("/dash/js/util/hub.js")
  +script("/dash/js/util/user.js")
  +script("/dash/js/util/input.js")
  +script("/dash/js/reblock/form-reblock.js")
  +script("/dash/js/admin/main.js")
  +script("/dash/js/admin/menu.js")
  +script("/dash/js/admin/panel.js")
  +script("/dash/js/admin/info.js")
  +script("/dash/js/admin/stage.js")
  +script("/dash/js/admin/perm.js")
  +script("/dash/js/admin/navbar.js")
  +script("/dash/js/admin/entry.js")
  +script("/dash/js/admin/list.js")
  +script("/dash/js/admin/welcome.js")
  +script("/dash/js/admin/page.js")
  +script("/dash/js/admin/prj.js")
  +script("/dash/js/admin/dev.js")
  +script("/dash/js/admin/post-list.js")
  +script("/dash/js/admin/judge-perm.js")
  +script("/dash/js/admin/judge-criteria.js")
  +script("/dash/js/admin/judge-primary.js")
  +script("/dash/js/admin/judge-final.js")
  +script("/dash/js/admin/judge-custom.js")

  //- form js files
  +script("/dash/js/form/index.js")
  +script("/dash/js/form/block.js")
  +script("/dash/js/form/criteria.js")
  +script("/dash/js/form/validator.js")

  //- prj files
  +script("/dash/js/prj/view-simple.js")

