extends /base.pug
block head
  style(type="text/css"): :stylus
    .blform
      border-left:.25em solid #eee
      padding:1em 0 .1em 1em
    .typeset.heading-contrast
      input.form-control { border-radius: .25em; border: 1px solid #ccc; }
      .form-group { margin-bottom: 1.5rem }
    .sect
      margin-top: 5em
    .form-check-input.is-valid ~ .form-check-label
      color: inherit

block body

  mixin category(name)
    .d-flex.flex-wrap
      +checkbox(name, "視覺藝術", false) 視覺藝術
      +checkbox(name, "表演藝術", false) 表演藝術
      +checkbox(name, "文化資產及展演設施", false) 文化資產及展演設施
      +checkbox(name, "工藝", false) 工藝
      +checkbox(name, "電影及動畫", false) 電影及動畫
      +checkbox(name, "遊戲", false) 遊戲
      +checkbox(name, "廣播電視", false) 廣播電視
      +checkbox(name, "出版", false) 出版
      +checkbox(name, "設計", false) 設計
      +checkbox(name, "時尚", false) 時尚
      +checkbox(name, "建築", false) 建築
      +checkbox(name, "數位內容", false) 數位內容
      +checkbox(name, "流行音樂", false) 流行音樂
      +checkbox(name, "漫畫", false) 漫畫
    .form-check.mr-4
      input.form-check-input(type="checkbox",name=name,value="其它")
      .d-flex.align-items-start
        label.form-check-label 其它
        .d-inline-block.ml-2
          input.form-control.form-control-sm(name=name+"-other")
          .invalid-feedback 不可留白

  mixin input-inline(opt)
    input.form-control.d-inline-block.form-control-sm(style=`width:${opt.len}em`,name=opt.name)&attributes(attributes)

  mixin checkbox(name,value,checked)
    .form-check.mr-4
      input.form-check-input(type="checkbox",name=name,value=value,checked=checked)
      label.form-check-label
        block

  mixin radio(name,value,checked)
    .form-check
      input.form-check-input(type="radio",name=name,value=value,checked=checked)
      label.form-check-label
        block

  .w-1024.rwd.mx-auto.typeset.heading-contrast.position-relative: form#form
    .page
      h3 申請書
      p 編號: #[span(ld="id")]

      .form-group
        label 計畫名稱
        input.form-control(name="name")
        .invalid-feedback 不可留白

      label 計畫類別（壹與貳為單選）：
      +radio("group", "1", true) 壹、內容開發組
      .ml-4
        span 一、單選
        .ml-4
          +radio("group1-type", "1", true) 原生內容開發孵育：以在地文化素材，開發、孵育具社會共感、國際市場潛力的各式原生內容IP或作品雛型
          +radio("group1-type", "2", false) 原生內容轉譯：將具有國際市場潛力之既有臺灣原生內容 IP，轉譯為具市場潛力的產品雛型
        span 二、可複選
        .ml-4: +category("group1-category")
      +radio("group", "2", false) 貳、產業策進組 
      .ml-4: +category("group2-category")

      h3 申請人基本資料
      .row
        .col-md
          .form-group
            label 申請單位
            input.form-control(name="teamname")
            .invalid-feedback 不可留白

        .col-md
          .form-group
            label 統一編號
            input.form-control(name="vatid")
            .invalid-feedback 格式不符

      .row
        .col-md
          .form-group
            label 負責人
            input.form-control(name="pic")
            .invalid-feedback 不可留白

        .col-md
          .form-group
            label 身分證字號
            input.form-control(name="uid")
            .invalid-feedback 格式不符

      .row
        .col-md

          .form-group
            label 成立時間
            .py-1 民國 #[+input-inline({len:5, name: "incorp-year"})] 年 #[+input-inline({len:5, name: "incorp-month"})] 月
        .col-md
          .form-group
            label 資本額
            .py-1 新臺幣 #[+input-inline({len:8, name: "capital"})] 元整

        .col-md
          .form-group
            label 員工人數
            input.form-control(name="employee-count")
      .form-group
        label 登記地址
        input.form-control(name="business-addr")
      .form-group
        label 聯絡地址
        input.form-control(name="contact-addr")


      .row
        .col-md
          .form-group
            label 聯絡人姓名
            input.form-control(name="contact-name")
        .col-md
          .form-group
            label 聯絡人職稱
            input.form-control(name="contact-title")
      .row
        .col-md
          .form-group
            label 聯絡人專線電話
            input.form-control(name="contact-phone")
        .col-md
          .form-group
            label 聯絡人手機
            input.form-control(name="contact-mobile")
      .row
        .col-md
          .form-group
            label 聯絡人Email
            input.form-control(name="contact-email")

      .form-group
        label.mb-0 成立緣起 (100字)
        textarea.form-control(rows="6",name="found-reason")
        .invalid-feedback 字數不符

      label 印鑑 ( 列印後用印正本 )
      .row.text-muted.mb-4
        .col-md: .aspect-ratio.ratio-2by1.text-center.border.border-secondary 公司章
        .col-md: .aspect-ratio.ratio-2by1.text-center.border.border-secondary 負責人章

      .form-group
        label.mb-0 備註
        textarea.form-control(rows="6",name="comment")


      label 民國106年至109年接受補助情形
      .ml-4.mb-4
        +radio("has-sub", "0", true) 無 ( 勾本項者以下免填 )
        +radio("has-sub", "1", false) 有

      div(ld="toggler",data-name="has-sub")
        table.table.table-bordered
          thead
            tr
              th 民國年度
              th 受補助計畫名稱(政府補助案名)
              th 補助機關
              th 補助金額
          tbody
            tr(ld-each="column",data-name="past-sub")
              td: select.form-control(name="year")
                option(value="106") 106
                option(value="107") 107
                option(value="108") 108
                option(value="109") 109
              td
                input.form-control(name="name")
                .invalid-feedback 不可留白
              td
                input.form-control(name="sponsor")
                .invalid-feedback 不可留白
              td
                input.form-control(name="amount")
                .invalid-feedback 不可留白
        .btn.btn-outline-secondary.btn-sm(ld="add-column",data-name="past-sub") 新增一項 #[i.i-plus]

      +nbr(3)
      .form-group
        label 民國 106 年至 109 年實績
      .ml-4.mb-4
        +radio("has-perform", "0", true) 無 ( 勾本項者以下免填 )
        +radio("has-perform", "1", false) 有

      div(ldform,ld="toggler",data-name="has-perform")
        table.table.table-bordered.mb-1
          thead
            tr
              th 民國年度
              th 計畫名稱
              th 計畫概述及執行情形 ( 200 字以內 )
              th 相關效益 ( 100 字以內 )
          tbody
            tr(ld-each="column",data-name="perform")
              td: select.form-control(name="year")
                option(value="106") 106
                option(value="107") 107
                option(value="108") 108
                option(value="109") 109
              td
                input.form-control(name="name")
                .invalid-feedback 不可留白
              td
                textarea.form-control(rows="5",name="brief")
                .invalid-feedback 字數不符
              td
                textarea.form-control(rows="5",name="result")
                .invalid-feedback 字數不符
        .btn.btn-outline-secondary.btn-sm(ld="add-column",data-name="perform") 新增一項 #[i.i-plus]

      +nbr(2)

      .form-group
        label.mb-0 立案證明文件
        .mb-4.ml-4
          +radio("incorp-type", "1", true) 公司
          +radio("incorp-type", "2", false) 財團(社團)法人
          +radio("incorp-type", "3", false) 大專院校
          +radio("incorp-type", "4", false) 學術研究機構或團體

        .btn.btn-upload.btn-primary.mr-4 上傳檔案 #[input(type="file",name="coop-memo")]
        .btn.btn-upload.btn-primary 上傳檔案 #[input(type="file",name="coop-memo")]



block script
  +script("/dash/js/work/flagship/index.js")
