//- module
extends /base.pug
block vars
  - ctrl.navtop.placeholder = true;
  - ctrl.navtop.shown = true;
  - ctrl.navtop.className = "navbar-light bg-semi-light"
block body
  include /modules/mixins/index.pug

  - var ghash = {};
  - (grps || []).map(function(d,i) { ghash[d.key] = d; });
  mixin list
    .w-1024.rwd.mx-auto.d-flex.flex-wrap.justify-content-between
      each prj in prjs

        - prj.showThumb = true
        - prj.thumb = `/dash/org/${brd.org}/prj/${prj.slug}/upload/thumb.png`
        .py-4.my-4: +prj-card-noframe(prj).mb-4.h-100.border-0.shadow-none

      .py-4.my-4.flex-placeholder: +prj-card-noframe({}).mb-4.h-100.border-0.shadow-none
    .w-1024.rwd.mx-auto.text-center.my-4.py-4
      .btn-group.mx-auto
        each i in [1,2,3,4,5,6]
          .btn.btn-outline-secondary(class=(i==1?"active":"")) #{i}

  +scope("project-list")
    .d-block(ld="panel side")
      .w-1024.rwd.mx-auto.pt-4
        .w-100.text-light.bg-dark.mb-4.rounded(style=`height:300px;background:url(/dash/org/${brd.org}/brd/${brd.slug}/upload/banner.png) center center no-repeat;background-size:cover`)
          .vertical-center.rounded(style="background-color:rgba(0,0,0,.3)")
            .w-50.text-left.ml-4.p-4.text-shadow-sm
              h3.font-weight-light #{brd.name}
              p.text-sm.mb-4(style="max-width:400px;opacity:.65") #{(brd.description || '').substring(0,100)} ...
              a.btn.btn-outline-light(href=`/brd/${brd.slug}/`) 關於此計畫
              a.btn.btn-outline-light.ml-2(href=`/dash/brd/${brd.slug}/prj/create`) 我要提案
        .d-flex.w-100.justify-content-between.py-2
          div
            .btn-group
              //-.btn.btn-outline-secondary 許願池
              //-.btn.btn-outline-secondary 得獎提案
              .btn.btn-outline-primary.active 全部提案 #[i.i-check]
          div
            .input-group
              input.form-control(ld="search-input",placeholder="搜尋提案...")
              .input-group-append
                .btn.btn-outline-secondary(ld="search") 搜尋 #[i.i-search]

      +list

block script
  script: :lsc
    ldc.register <[util]>, ({util}) ->
      lc = {}
      view = new ldView do
        root: '[ld-scope=project-list]'
        action: click: do
          search: ->
            name = view.get("search-input").value or ''
            if name => window.location.href = window.location.pathname + "?keyword=#name"
        handler: do
          "search-input": ({node}) ->
            node.value = (util.parse-querystring("keyword") or '')
