//- module
extends /base.pug
block vars
  - ctrl.navtop.placeholder = true;
  - ctrl.navtop.shown = true;
  - ctrl.navtop.className = ""
block head
  if pageInfo && pageInfo.cssUrl
    +css(pageInfo.cssUrl)
  else
    +css("/dash/css/custom/index.css")
block body
  include /modules/mixins/index.pug

  - var ghash = {};
  - (grps || []).map(function(d,i) { ghash[d.key] = d; });
  mixin card(opt)
    .gd-prj-card&attributes(attributes)
      a(href=`/dash/prj/${opt.slug}`)
        if opt.showThumb
          .w-100
            .gd-prj-card-thumb.aspect-ratio.ratio-3by2(
            style=`background-image:url(${opt.thumb})`)
        .gd-prj-card-name.text-truncate(style="font-weight:500;font-size:1.25em") #{opt.name || '未命名的提案'}
      .gd-prj-card-owner.mb-2 By #[a(href=`/dash/user/${opt.owner}`) #{opt.ownername || '未具名'}]
      .gd-prj-card-description.mb-2.flex-grow-1 #{(opt.description || '').substring(0,50)} ...

  mixin list
    .w-1024.rwd.mx-auto.d-flex.flex-wrap.justify-content-between
      each prj in prjs
        - prj.showThumb = true
        - prj.thumb = `/dash/org/${brd.org}/prj/${prj.slug}/upload/thumb.png`
        +card(prj)
      +card({}).flex-placeholder
    .gd-prj-list-pagination.w-1024.rwd.mx-auto.text-center.my-4.py-4
      .btn-group.mx-auto: a.btn(ld-each="pagination")

  +scope("project-list")
    .d-block(ld="panel side")
      .w-1024.rwd.mx-auto.pt-4
        .gd-prj-list-banner(style=`background-image:url(/dash/org/${brd.org}/brd/${brd.slug}/upload/banner.png)`)
          .vertical-center
            .gd-prj-list-info
              h3 #{brd.name}
              p.desc #{(brd.description || '').substring(0,100)} ...
              a.btn(href=`/brd/${brd.slug}/`) 關於此計畫
              a.btn.ml-2(href=`/dash/brd/${brd.slug}/prj/create`) 我要提案
        .gd-prj-list-ctrl
          div
            .btn-group
              //-.btn.btn-outline-secondary 許願池
              //-.btn.btn-outline-secondary 得獎提案
              .btn.active 全部提案
          div
            .gd-prj-list-search-box.input-group
              input.form-control(ld="search-input",placeholder="搜尋提案...")
              .input-group-append
                .btn(ld="search") 搜尋 #[i.i-search]

      +list

block script
  +register-locals("prjs")
  script: :lsc
    ldc.register <[util viewLocals]>, ({util, viewLocals}) ->
      full-count = (viewLocals.0 or {}).full_count
      prj = viewLocals.0 or {}
      console.log viewLocals.0
      lc = {}
      view = new ldView do
        root: '[ld-scope=project-list]'
        action: click: do
          search: ->
            name = view.get("search-input").value or ''
            if name => window.location.href = window.location.pathname + "?keyword=#name"
        handler: do
          "search-input": ({node}) ->
            node.value = (util.parse-querystring("keyword") or '')
          pagination: do
            list: -> [0 til Math.ceil(full-count/24)]
            handler: ({node, data}) ->
              node.innerText = (data + 1)
              offset = data * 24
              node.setAttribute \href, "/dash/brd/#{prj.brd}/list?offset=#offset"
