//- module
extends /base.pug
block vars
  - ctrl.navtop.shown = false;
block body
  - var answer = ( ( prj.detail && prj.detail.answer ) ? prj.detail.answer : {} )
  - var purpose = grp.form.purpose || {};
  .p-2
    if !purpose.title && answer.title
      .pb-4.mb-4
        h4 提案名稱
        hr
        .pb-4 #{answer.title.content}
    if !purpose.title && answer.description
      .pb-4.mb-4
        h4 提案簡介
        hr
        .pb-4 #{answer.description.content}

    each block in grp.form.list
      .pb-4.mb-4
        h4 #{block.title}
        p.text-muted #{block.desc}
        hr
        - var value = answer[block.key]
        .pb-4(ld="answer",data-key=block.key)

block script
  +script("/dash/js/prj/view.js")
  +script("/dash/js/util/htmlentities.js")
  +register-locals()
