//- module
extends /base.pug
block vars
block body
  - var answer = ( ( prj.detail && prj.detail.answer ) ? prj.detail.answer : {} )
  - var purpose = grp.form.purpose || {};
  -
    var path = '';
    if(prj.detail && prj.detail.answer) {
      var list = (prj.detail.answer[grp.form.purpose.thumb] || {}).list;
      if(list && list.length) { path = (list[0] || {}).path; }
    }
  - prj.thumb = `/dash/org/${brd.org}/prj/${prj.slug}/upload/${path}`


  .w-100.position-relative
    .w-1024.h-100.rwd.mx-auto.typeset.heading-contrast.pt-4.my-3
      .d-flex.mb-4
        //-.mr-4.mt-4.pr-4: .rounded.bg-dark(style="width:9.25em;height:9.25em;flex:0 0 auto;background:url(https://grants.g0v.tw//uploads/e55fddeaaf3dfc01b750d433f108fdbc.jpg) center center no-repeat;background-size:cover")
        .mr-4.mt-4.pr-4: .rounded.bg-dark(style=`width:9.25em;height:9.25em;flex:0 0 auto;background:url(${prj.thumb}) center center no-repeat;background-size:cover`)
        .flex-grow-1.pr-2
          .text-muted.text-sm
            a(href=`/brd/${brd.slug}/prj/list`) #{brd.name}
            span &nbsp;/ 提案
          .d-flex.align-items-end.mt-1
            h2.mt-1.mb-0(style="line-height:1em") #{prj.name}
            .ml-2.flex-grow-1
              //-each t,$index in ["義肢","開源","協作","台灣","手作"]
                .badge.badge-light.text-secondary.mr-2.ld.ld-float-rtl-in(style=`animation-delay:${$index * 0.1}s`)= t
            //-.btn.btn-outline-secondary.btn-sm.ml-2 追蹤 #[i.i-eye]
            a.btn.btn-outline-secondary.btn-sm.ml-2(href=`/prj/${prj.slug}/edit`) 編輯 #[i.i-pen]
            .btn.btn-outline-secondary.btn-sm.ml-2 分享 #[i.i-link]
          .w-100.my-4.rounded-lg(style="height:2px;background:linear-gradient(90deg,#aaebcc,#ddfeef)")
          each p in (prj.description || '').split('\n')
            p #{p}
    .w-100.pb-4: .w-1024.rwd.mx-auto.typeset.heading-contrast.my-0.py-4
      .d-flex.align-items-center
        .mr-4(style="width:9.25em;flex:0 0 auto")
          //-.text-center.rounded.py-3.border.border-dark
            label.text-muted 成果授權
            div.font-weight-bold.text-sm CC-BY-NC-SA 4.0
        .d-flex.ml-3.flex-grow-1
          .mr-4.flex-grow-1.d-flex.align-items-center
            .mr-2.text-muted 提案人
            +user({key: prj.owner}).mr-2.rounded-circle(style="width:1.5em!important")
            span #{prj.ownername}
          //-.mr-4.flex-grow-1
            label.text-muted.mb-0 提案人
            .sep.my-3.sep-dark
            .d-flex.align-items-center
              +user.mr-2
              span #{prj.ownername}
          .mr-4.flex-grow-1
            //-div
              label.text-muted.mb-0 參與者
              .sep.my-3.sep-dark
              div: each i in [1,2,3,4,5]
                //-+avatar-sm.mr-2
          .mr-4.flex-grow-1
            //-div
              label.text-muted.mb-0 徵求志工
              .sep.my-3.sep-dark
              div: each i in [1,2,3]
                .avatar.lg.mr-2.has-tips(
                style="background:#f1f2f3 url(/assets/img/icon/android.svg);background-size:cover")
                  .hover-tip.bottom.tip-sm Android Dev

          .flex-grow-1
            //-div
              label.text-muted.mb-0.flex-grow-1 關注者
              .sep.my-3.sep-dark
              div
                each i in [0,1,2,3,4,5,6,7,8,9]
                  //-+avatar-sm.mr-2
                span ...



  .w-100.bg-light.pt-4.border.border-top: .w-1024.h-100.rwd.mx-auto.typeset.heading-contrast: .row
    .col-md-2: .sticky.pt-2(style="top:0")
      .list-group
        a.list-group-item.clickable.text-secondary(href="#project-detail") 提案細節
        //-a.list-group-item.clickable.text-secondary(href="#project-note") 線上共筆
        a.list-group-item.clickable.text-secondary(href="#project-discuss") 討論提問
      .dropdown.my-4
        .btn.btn-outline-secondary.dropdown-toggle.btn-block(data-toggle="dropdown") 修改紀錄
        .dropdown-menu
      a.btn.btn-primary.btn-block.text-white(onclick="lda.ldcvmgr.toggle('propose')")
        | 我也要提案
    .col-md-10
      #project-detail.p-4.border.shadow.bg-white.rounded.mb-4: .p-2
        if !purpose.title && answer.title
          .pb-4.mb-4
            h4 提案名稱
            hr
            .pb-4 #{answer.title.content}
        if !purpose.title && answer.description
          .pb-4.mb-4
            h4 提案簡介
            hr
            .pb-4 #{answer.description.content}

        each block in grp.form.list
          .pb-4.mb-4
            h4 #{block.title}
            p.text-muted #{block.desc}
            hr
            - var value = answer[block.key]
            .pb-4
              if value
                | #{value.content || value.list.map(function(d,i) { return d.name || d; }).join(',')}


      h3#project-discuss.mt-4 討論提問
      .p-4.border.shadow.bg-white.rounded: .p-2
        include /modules/widget/discus.pug

block script
  +script("/dash/js/util/discus.js")
