//- module

mixin form-card(opt = {})
  if opt.bare
    .mb-4&attributes(attributes)
      +form-head(opt)
      block
  else
    .card.shadow-sm.mb-4&attributes(attributes): .card-body: .p-2
      +form-head(opt)
      block

mixin form-head(opt = {})
  .d-flex.mb-2
    .flex-grow-1
      .mb-0(style="font-weight:500;font-size:1.25em") #{opt.title || '問題的標題'}
      .text-muted(style="font-weight:200") #{opt.description || '關於這個問題的一個簡短的描述'}
    //-.ctrl: .btn-group
      .btn.btn-sm.btn-outline-secondary 必填
      .btn.btn-sm.btn-outline-secondary(onclick="lda.ldcvmgr.toggle('validator')") 條件..
      .btn.btn-sm.btn-outline-secondary: i.i-clone
      .btn.btn-sm.btn-outline-secondary: i.i-close

mixin form-short-answer(opt)
  +form-card(opt)&attributes(attributes)
    input.form-control.rounded-0(style="border-width:0 0 1px 0",placeholder="請在這裡輸入...")

mixin form-long-answer(opt)
  +form-card(opt)&attributes(attributes)
    textarea.form-control(rows="5")
    .d-flex.align-items-center.mt-2
      .d-flex.align-items-center.text-sm.text-muted.mr-4
        input.mr-1(type="checkbox")
        div 啟用 Markdown 語法 ( #[a(href="#") 語法說明] )
      .d-flex.align-items-center.text-sm.text-muted.mr-4
        input.mr-1(type="checkbox")
        div 預覽
    .text-danger.text-sm.mt-2 #[i.i-close] 輸入的內容不夠長 ( 應介於 200 ~ 500 字之間 )

mixin form-upload-file(opt)
  +form-card(opt)&attributes(attributes)
    .btn.btn-outline-primary.btn-upload #[span 上傳檔案 ...]#[input(type="file")]

mixin form-checkbox(opt)
  +form-card(opt)&attributes(attributes)
    each i in [1,2,3,4,5]
      .form-check.my-1
        input.form-check-input(type="checkbox",name="checkbox")
        label.form-check-label 選項 #{i}

mixin form-radio(opt)
  +form-card(opt)&attributes(attributes)
    each item in (opt.values || ["選項1","選項2","選項3"])
      .d-flex.align-items-center.my-1
        input.w-100.z-float(type="radio",style="height:1.5em;margin-top:-2px",name=opt.name,value=item)
        .position-absolute(style="margin-left:1.5em") #{item}

mixin form-answer(opt)
  .mb-4.pb-4
    .d-flex.mb-2
      .flex-grow-1
        .mb-0(style="font-weight:500;font-size:1em") #{opt.title || '問題的標題'}
        .text-muted.text-sm(style="font-weight:200") #{opt.description || '關於這個問題的一個簡短的描述'}
    .pl-3.border-left.border-secondary(style="font-size:1.2em") #{opt.value}
