extends /base.pug
block body
  .w-1024.rwd.mx-auto.typeset.heading-contast
    h2 使用者條款
    p 更新日期: 2020/08/09

    hr
    - var abbr = "甲方"
    p 本服務係由 #[span(pd="brand-org")] ( 以下簡稱#{abbr}) 所提供。只要您開始使用本服務，即表示您已了解並同意本條款中之所有內容。若您不同意本條款的內容，或是您所屬地區之法律排除了本條款之內容時，您即應立刻停止使用本服務。
    p 若您未成年，應請您的父母或監護人閱讀、了解並同意本服務條款之所有內容及其後之修改變更，方得使用>本服務。當您使用本服務時，即推定您的父母或監護人已閱讀、了解並同意接受本服務條款之所有內容及其後之修改變更。


    h3 會員使用規範與義務
    p 除了本條款之內容，您亦同意遵守中華民國相關法規並同意不從事任何違反中華民國相關法規、或其它#{abbr}有正當理由認為不適當之行為。
    p 註冊、登入或使用本服務時，您有責任維持、更新您使用帳號之資料的正確與真實性、並妥善管理帳號密碼的安全。若您察覺到帳號疑似遭盜用、入侵或任何其它可疑之狀況時，您應立即通知#{abbr}。

    h3 系統中斷或故障
    p #{abbr}將盡可能保持服務之正常運作，但本服務仍可能因為各種原因而造成服務中斷或服務錯誤，並因此造成您使用時的不便或資料喪失等情形。對於您因使用 ( 或無法使用 ) 本服務時所造成的損害，不負任何賠償責任。

    h3 第三方網站之連結與內容
    p 本服務可能會包含連結至其它單位之網站，這些第三方網站均由各個單位負責，不屬本服務負責範圍之內，因此#{abbr}亦不擔保任何第三方網站之有效及正確性，亦不對其內容負任何責任。

    h3 您對本服務之授權
    p 您所上載、輸入或提供予本服務之任何資料，其權利仍為您或您的授權人所有；但任何資料一經您上載、輸入或提供予本服務時，即表示您已同意授權#{abbr}可以基於公益或為宣傳、推廣本服務之目的，進行使用、修改、發行、散布、重製或公開展示該等資料，並得在此範圍內將前述權利轉授權他人。您並保證本服務使用、修改、發行、散布、重製、公開展示或轉授權該資料，不致侵害任何第三人之相關權利，否則應對#{abbr}負損害賠償責任。

    h3 智慧財產權或著作權之侵害處理
    p  本服務得對於可能屬侵權之使用者暫停或終止其帳戶。若您認為您的著作權或智慧財產權遭受侵害，請提供以下資訊予本服務：
    ul
      li 您的正確資料與聯絡方式，並有異議情形時，同意將其資料提供給被檢舉人。
      li 能合法代表著作權或智慧財產權利益之所有人之證明。
      li 您所主張受侵害之著作或其他智慧財產權之描述，以及受侵害資料之描述。
      li 您基於善意認為該利用未經著作權人其代理人或法律許可之聲明。
      li 您在了解虛偽陳述之責任的前提下，對於上述載於您的通知上之資訊的正確性之聲明。

    h3 隱私權保護政策
    p 本服務依據 #[a(href="/sys/html/privacy/") 隱私權保護政策] 來使用、管理您於本服務中的所有資料。只要您開始使用本服務，表示您已了解並同意本服務的 #[a(href="/sys/html/privacy/") 隱私權保護政策] 內容。

    h3 條款之變更、修改
    p #{abbr}有權於任何時間修改、變更此條款之內容。一旦條款有任何變更，#{abbr}將直接公告於本服務網站上。若您在條款修改過後繼續使用本服務，則視同您已了解並同意本條款修改或變更的內容。

    h3 準據法與管轄法院
    p 本服務條款之解釋與適用，以及與本服務條款有關的爭議，除法律另有規定者外，均應依照中華民國法律予以處理，並以台灣台北地方法院為管轄法院。
    p #{abbr}未行使或執行本服務條款任何權利或規定，不構成前開權利或規定之棄權。若任何本服務條款規定，經有管轄權之法院認定無效，當事人仍同意法院應努力使當事人於前開規定所表達之真意生效，且本服務條款之其他規定仍應完全有效。

    p 若您有違反前開事項之情事或之虞，#{abbr}有權於通知或未通知之情形下，隨時終止或限制您使用帳號（或其任何部分）或本服務之使用，並將本服務內任何相關「會員內容」加以移除並刪除。您同意若本服務之使用被終止或限制時，#{abbr}對您或任何第三人均不承擔責任。

  +nbr(4)
