//- view
extends /base.pug
block vars
  - ctrl.navtop.shown = !simple;
block head
  style(type="text/css"): :stylus
    .pre
      white-space: pre-line
    .quote
      border-left: 3px solid #eee
      padding-left: .5em

mixin item(key,val)
  .m-4
    .font-weight-bold.mb-1= key
    .quote
      if Array.isArray(val)
        ul
        each v in val
          li.pre= v
      else
        if /資本額|新臺幣/.exec(key)
          p.pre= (+val).toLocaleString()
        else
          p.pre= val

block body
  div(ld-scope="prj-detail")
    - form = locals.prj.detail.custom
    -
      var order = [
        ["案件編號", "計畫名稱", "提案簡介", "提案組成", "(代表)提案單位", "資本額(新臺幣/元)" ],
        [
          "註",
          "計畫總經費(新臺幣/元)", "申請經費(新臺幣/元)", "自籌經費(新臺幣/元)",
          "內容產業類型", "本院輔導產業類別分類", "本案預計未來體驗之通路",
          "本計畫是否申請或已獲其他機關(單位)經費補助",
          "已獲得補助列表",
          "負責人", "成立時間", "統一編號", "員工人數",
          "登記地址", "聯絡地址", "聯絡人",
          "職稱", "專線電話", "手機", "電子郵件"
        ]
      ];
    - order.push(order[0].concat(order[1]));

    each key in order[0]
      - var val = form.raw[key]
      +item(key,val)

    -
      var reports = [
        ["計劃書","plan"],
        ["預算表","budget"],
        ["立案證明","registration"],
        ["相關附件","appendix"],
        ["共同提案證明文件","copropose_reg"]
      ];
    each pair in reports
      if form.file && form.file[pair[1]]
        .m-4
          .font-weight-bold.mb-1= pair[0]
          a(href=`/dash/gcs/upload/${form.file[pair[1]].id}`,target="_blank",rel="noopener noreferrer") #[b #{form.file[pair[1]].filename}] #[br] #[small ( #{(form.file[pair[1]].size / (1024 * 1024)).toFixed(2)}MB / 修改日期: #{new Date(form.file[pair[1]].modifiedtime).toLocaleString()} )]

    .m-4.d-none(ld="note-widget")
      .font-weight-bold.mb-1 註
      textarea.form-control.mb-1(ld="note",rows="10",disabled)
      .btn.btn-primary.d-none(ld="update-note") 更新

    each key in order[1]
      - var val = form.raw[key]
      +item(key,val)

         
    each val, key in form.raw || {}
      if !~order[2].indexOf(key) && key != "本院分類"
        +item(key,val)
    +nbr(3)

block script
  +register-locals()
  script: :lsc
    ldc.register <[viewLocals auth ldNotify error notify]>, ({viewLocals, auth, error, notify}) ->
      lc = {}
      raw = viewLocals.prj.{}detail.{}custom.{}raw
      slug = viewLocals.prj.slug
      ldld = new ldLoader className: 'ldld full'
      auth.get!then (g) ->
        lc.global = g
        view = new ldView do
          root: '[ld-scope=prj-detail]'
          action:
            click:
              "update-note": ->
                if !(lc.global.user.key in [1,4]) => return
                json = {slug: slug, note: raw["註"]}
                ldld.on!
                debounce 1000
                  .then -> ld$.fetch "/dash/api/future-content/prj", {method: "POST"}, {json}
                  .finally -> ldld.off!
                  .then -> notify.send \success, "已更新"
                  .catch -> error! it
            input:
              note: ({node}) ->
                raw["註"] = node.value or ''
          handler:
            "note-widget": ({node}) -> node.classList.toggle \d-none, !(lc.global.user.key in [1,4])
            "update-note": ({node}) -> node.classList.remove \d-none
            note: ({node}) ->
              node.value = raw["註"] or ''
              node.setAttribute \disabled, false
              node.disabled = false

