//- view
extends /base.pug
block head
  style(type="text/css"): :stylus
    .blform
      border-left:.25em solid #eee
      padding:0 0 0 1em
      margin-bottom: 2em
    .typeset.heading-contrast
      .table-tiny
        th, td
          font-size: .9em
        td
          padding: .75em 2px
          input, .form-control
            font-size: .8em
          input.is-valid
            background-image: none

      .form-group { margin-bottom: 1.5rem }
      .form-control._preview
        border-radius: 0
        border: 0
        border-bottom: 1px solid #ccc
        background: #f2f3f4
        display: none
      select, textarea, input
        &.form-control.is-valid
          border-color: #ccc
          background-image: none
          padding-right: .75rem!important
    .form-check-input.is-valid ~ .form-check-label
      color: inherit
    .page
      page-break-after: always
      margin: 2em 2em
    .page.page-cover
      margin: 0
      height: 29.7cm
    .form-inner-box
      padding: 3em
      border-radius: .5em
      border: 1px solid #ddd
      box-shadow: 0 2px 4px rgba(0,0,0,.1)

    .submit-panel
      position: fixed
      width: 100%
      background: #fff

    @media (max-width: 768px)
      .form-inner-box
        padding: .5em
        border: none
        box-shadow: none
      .page
        margin: .5em
      .page.px-4
        padding: 0!important
      .submit-panel
        position: static
        .d-flex > div
          width: 100%

    .no-break
      page-break-inside: avoid
    .only-print
      display: none
    @page
      margin: 20mm 10mm
    @media print
      body
        margin: 0!important
      .page
        margin: 0!important
      .no-print, .grecaptcha-badge
        display: none!important
      .only-print
        display: block!important
      .form-inner-box
        border: 0
        box-shadow: none
        padding: 0
      .typeset.heading-contrast
        input,textarea,select
          &.form-control
            display: none !important
        .form-control._preview
          display: block

block body

  mixin category(name)
    .d-flex.flex-wrap
      +checkbox(name, "視覺藝術", false) 視覺藝術
      +checkbox(name, "表演藝術", false) 表演藝術
      +checkbox(name, "文化資產及展演設施", false) 文化資產及展演設施
      +checkbox(name, "工藝", false) 工藝
      +checkbox(name, "電影及動畫", false) 電影及動畫
      +checkbox(name, "遊戲", false) 遊戲
      +checkbox(name, "廣播電視", false) 廣播電視
      +checkbox(name, "出版", false) 出版
      +checkbox(name, "設計", false) 設計
      +checkbox(name, "時尚", false) 時尚
      +checkbox(name, "建築", false) 建築
      +checkbox(name, "數位內容", false) 數位內容
      +checkbox(name, "流行音樂", false) 流行音樂
      +checkbox(name, "漫畫", false) 漫畫
    .form-check.mr-4.d-flex.align-items-start
      input.form-check-input(type="checkbox",name=name,value="其它")
      label.form-check-label 其它
      .form-group.d-inline-block.ml-2.mb-0
        input.form-control.form-control-sm(name=name+"-other")
        .invalid-feedback 不可留白

  mixin input-inline(opt)
    .d-inline-block.align-bottom
      input.form-control.form-control-sm(style=`width:${opt.len}em`,name=opt.name)&attributes(attributes)

  mixin checkbox(name,value,checked)
    .form-check.mr-4
      input.form-check-input(type="checkbox",name=name,value=value,checked=checked)
      label.form-check-label
        block

  mixin radio(name,value,checked)
    .form-check
      input.form-check-input(type="radio",name=name,value=value,checked=checked)
      label.form-check-label
        block

  .w-1024.rwd.mx-auto.typeset.heading-contrast.position-relative: form#flagship-form: .form-inner-box

    .page.page-cover.vertical-center.only-print: .w-100
      .text-lg.my-4.text-right
        div 封面
        div 編號: #[span(ld="fill",data-name="docid")]
      br
      .text-center
        h2 109年度文化內容開發與內容產業領航行動方案
        br
        h2 計畫書
        +nbr(2)
      .text-lg.my-4
        p 計畫名稱： #[span(ld="fill",data-name="name")]
        p 申請組別： #[span(ld="fill",data-name="group")]
        p 申請單位： #[span(ld="fill",data-name="teamname")]
      +nbr(4)
      .text-center
        p 中華民國 #[span(ld="fill",data-name="doc-year")] 年 #[span(ld="fill",data-name="doc-month")] 月 #[span(ld="fill",data-name="doc-day")] 日

    .page
      .no-break
        .text-center
          h3 文化內容開發與內容產業領航行動方案申請書
          br
          .text-right
            span 編號: #[span(ld="fill", data-name="docid") N/A]
        .form-group
          h4 計畫名稱
          input.form-control(name="name")
          .invalid-feedback 不可留白
        label 計畫類別（一與二為單選）：
        +radio("group", "文化內容開發組", true) 一、文化內容開發組
        .ml-4.mb-4
          span ( 可複選 )
          +category("group1-category")
        +radio("group", "內容產業領航行動組", false) 二、內容產業領航行動組
        .ml-4
          span ( 可複選 )
          +category("group2-category")

      +nbr(2)
      .no-break
        h4.mb-4 申請人基本資料
        .row
          .col-md
            .form-group
              label 申請單位
              input.form-control(name="teamname")
              .invalid-feedback 不可留白

          .col-md
            .form-group
              label 統一編號
              input.form-control(name="vatid")
              .invalid-feedback 格式不符

        .row
          .col-md
            .form-group
              label 負責人
              input.form-control(name="pic")
              .invalid-feedback 不可留白

          .col-md
            .form-group
              label 身分證字號
              input.form-control(name="uid")
              .invalid-feedback 格式不符

        .row
          .col-md

            .form-group
              label 成立時間
              .py-1 民國 #[+input-inline({len:5, name: "incorp-year"})] 年 #[+input-inline({len:5, name: "incorp-month"})] 月
          .col-md
            .form-group
              label 資本額
              .py-1 新臺幣 #[+input-inline({len:8, name: "capital"})] 元整

          .col-md
            .form-group
              label 員工人數
              input.form-control(name="employee-count")
        .form-group
          label 登記地址
          input.form-control(name="business-addr")
        .form-group
          label 聯絡地址
          input.form-control(name="contact-addr")

      .no-break

        h5 聯絡人
        .blform
          .row
            .col-md
              .form-group
                label 姓名
                input.form-control(name="contact-name")
            .col-md
              .form-group
                label 職稱
                input.form-control(name="contact-title")
          .row
            .col-md
              .form-group
                label 專線電話
                input.form-control(name="contact-phone")
            .col-md
              .form-group
                label 手機
                input.form-control(name="contact-mobile")
          .row
            .col-md
              .form-group
                label Email
                input.form-control(name="contact-email")

      .form-group
        label.mb-0 成立緣起 (100字)
        textarea.form-control(rows="6",name="found-reason")
        .invalid-feedback 字數不符

      .no-break
        label 印鑑 ( 列印後用印一份 )
        .row.text-muted.mb-4
          .col-md: .aspect-ratio.ratio-2by1.text-center(style="border:1px solid #eee") 公司章
          .col-md: .aspect-ratio.ratio-2by1.text-center(style="border:1px solid #eee") 負責人章

      .form-group
        label.mb-0 備註
        textarea.form-control(rows="6",name="comment")

      +nbr(2)

      .no-break
        h4 民國106年至109年接受補助情形
        .ml-4.mb-4
          +radio("has-sub", "0", true) 無 ( 勾本項者以下免填 )
          +radio("has-sub", "1", false) 有
        .d-none(ldform,ld="toggler",data-name="has-sub")
          div(style="overflow-x:scroll"): table.table.table-bordered
            thead
              tr
                th.no-print
                th 民國年度
                th 受補助計畫名稱(政府補助案名)
                th 補助機關
                th 補助金額
            tbody
              tr(ld-each="column",data-name="past-sub")
                td.clickable.text-center.pt-3.no-print: i.i-close
                td: select.form-control(name="year")
                  option(value="106",selected) 106
                  option(value="107") 107
                  option(value="108") 108
                  option(value="109") 109
                td: .form-group.m-0
                  input.form-control(name="name")
                  .invalid-feedback 不可留白
                td: .form-group.m-0
                  input.form-control(name="sponsor")
                  .invalid-feedback 不可留白
                td: .form-group.m-0
                  input.form-control(name="amount")
                  .invalid-feedback 不可留白
          .btn.btn-outline-secondary.no-print(ld="add-column",data-name="past-sub") 新增一項 #[i.i-plus]

      +nbr(1)
      .no-break

        h4 民國 106 年至 109 年實績
        .ml-4.mb-4
          +radio("has-perform", "0", true) 無 ( 勾本項者以下免填 )
          +radio("has-perform", "1", false) 有

        .d-none(ldform,ld="toggler",data-name="has-perform")
          div(style="overflow-x:scroll"): table.table.table-bordered
            thead
              tr
                th.no-print
                th 民國年度
                th 計畫名稱
                th 計畫概述及執行情形 ( 200 字以內 )
                th 相關效益 ( 100 字以內 )
            tbody
              tr(ld-each="column",data-name="perform")
                td.clickable.text-center.pt-3.no-print: i.i-close
                td: select.form-control(name="year")
                  option(value="106",selected) 106
                  option(value="107") 107
                  option(value="108") 108
                  option(value="109") 109
                td: .form-group.m-0
                  input.form-control(name="name")
                  .invalid-feedback 不可留白
                td: .form-group.m-0
                  textarea.form-control(rows="5",name="brief")
                  .invalid-feedback 字數不符
                td: .form-group.m-0
                  textarea.form-control(rows="5",name="result")
                  .invalid-feedback 字數不符
          .btn.btn-outline-secondary.no-print(ld="add-column",data-name="perform") 新增一項 #[i.i-plus]

      +nbr(2)
    .page
      h5 計畫摘要

      .form-group
        label.mb-0 工作項目 ( 200 字以內 )
        textarea.form-control(rows="6",name="abs-item")
        .invalid-feedback 字數不符

      .form-group
        label.mb-0 執行方式 ( 200 字以內 )
        textarea.form-control(rows="6",name="abs-method")
        .invalid-feedback 字數不符

      .form-group
        label.mb-0 執行期程 ( 200 字以內 )

        .py-1 民國 109 年 #[+input-inline({len:5, name: "exe-start-month"})] 月 #[+input-inline({len:5, name: "exe-start-day"})] 日 ~ 民國 110 年 #[+input-inline({len:5, name: "exe-end-month"})] 月 #[+input-inline({len:5, name: "exe-end-day"})] 日

      .form-group
        label.mb-0 執行效益 ( 200 字以內 )
        textarea.form-control(rows="6",name="abs-outcome")
        .invalid-feedback 字數不符

      .form-group.only-print
        label 上傳計畫書 PDF ( 計畫書內容含目錄、原著授權、立案證明文件、合作意向書 / 合約 )
        br
        a(ld="file-uploaded",data-name="plan",target="_blank",rel="noopener noreferrer")

      .no-break
        .form-group
          h4 預算概況 #[span.text-muted.text-sm]
          .blform
            .mb-2
              div #[b 計畫總經費] #[span.text-muted.text-sm (由預算明細表自動帶入)]
              div 新臺幣 #[span(ld="fill",data-name="budget") 0] 元整 ( 含稅 )
            .row.mb-4
              .col-md
                div #[b 自籌款] #[span.text-muted.text-sm (由預算明細表自動帶入)]
                div 新臺幣 #[span(ld="fill",data-name="budget-self") 0] 元整 ( 含稅 ), 比例: #[span(ld="fill",data-name="budget-self-percent") 0] %
              .col-md
                div #[b 申請經費] #[span.text-muted.text-sm (由預算明細表自動帶入)]
                div 新臺幣 #[span(ld="fill",data-name="budget-subsidy") 0] 元整 ( 含稅 ), 比例: #[span(ld="fill",data-name="budget-subsidy-percent") 0] %
                .text-danger.d-none(ld="budget-limit") 補助經費不得超過五百萬，且比例不得超過 49%

          label 本計畫是否申請或已獲其他機關 ( 單位 ) 經費補助？
          .ml-4.mb-4
            +radio("has-other-sub", "0", true) 否
            .form-check.d-flex.align-items-center
              input.form-check-input(type="radio",name="has-other-sub",value="1")
              label.form-check-label
                div 是，本計畫已獲 #[+input-inline({len:10,name:"other-sub-name"})] 補助新臺幣 #[+input-inline({len:10,name:"other-sub-amount"})] 元整。

      .no-break
        .d-flex.align-items-end.mb-2
          h4.mb-0 預算明細表
          span.mx-1 /
          .text-sm.text-primary.clickable(onclick="lda.ldcvmgr.toggle('flagship-budget-example')") 如何撰寫？
        div(style="overflow-x:scroll"): table.table.table-bordered.table-tiny
          thead
            tr
              th(rowspan="2")
              th(rowspan="2") 預算科目
              th(rowspan="2") 預算明細
              th(rowspan="2") 單價(元)
              th(rowspan="2") 數量
              th(rowspan="2") 單位
              th(rowspan="2") 小計(元)
              th(colspan="2") 分攤金額
              th(rowspan="2") 備註
            tr
              th 自籌款
              th 補助款
          tbody
            tr(ld-each="column",data-name="budget")
              td.clickable.text-center.pt-3: i.i-close.no-print
              td: .form-group.m-0
                input.form-control(name="cat")
                .invalid-feedback 不可留白
              td: .form-group.m-0
                input.form-control(name="detail")
                .invalid-feedback 不可留白
              td: .form-group.m-0
                input.form-control(name="price")
                .invalid-feedback 不可留白
              td: .form-group.m-0
                input.form-control(name="count")
                .invalid-feedback 不可留白
              td: .form-group.m-0
                input.form-control(name="unit")
                .invalid-feedback 不可留白
              td: .form-group.m-0
                input.form-control(name="total",readonly,disabled,tabindex="-1")
              td: .form-group.m-0
                input.form-control(name="self")
                .invalid-feedback 數字不合
              td: .form-group.m-0
                input.form-control(name="subsidy",readonly,disabled,tabindex="-1")
              td: .form-group.m-0
                input.form-control(name="comment")
            tr
              td.text-center.align-middle(colspan="7") 小計
              td.text-right.px-2 #[span(ld="fill",data-name="budget-self")]元
              td.text-right.px-2 #[span(ld="fill",data-name="budget-subsidy")]元
              td
            tr
              td.text-center.align-middle(colspan="7") 補助比例 #[.text-sm.text-muted ( 補助款不得逾本案計畫書總經費之49.00% )]
              td.text-right.px-2.align-middle #[span(ld="fill",data-name="budget-self-percent")]%
              td.text-right.px-2.align-middle #[span(ld="fill",data-name="budget-subsidy-percent")]%
              td
            tr
              td.text-center.align-middle(colspan="7") 總計
              td.text-right.px-2(colspan="2") #[span(ld="fill",data-name="budget")]元
              td

        .d-flex.align-items-start
          .flex-grow-1.d-flex.align-items-center
            .btn.btn-outline-secondary.no-print(ld="add-column",data-name="budget") 新增一項 #[i.i-plus]
            .text-danger.ml-4.d-none(ld="budget-limit") 補助經費不得超過五百萬，且比例不得超過 49%
          span 單位: 新台幣

      +nbr(3)

      .form-group.no-print
        label 上傳計畫書 PDF ( 計畫書內容含目錄、原著授權、立案證明文件、合作意向書 / 合約 )
        .d-flex.align-items-center
          .btn.btn-upload.btn-primary.no-print 上傳文件 #[input(ld="file-upload",type="file",data-name="plan")] #[span]
          a.ml-4.no-print(ld="file-uploaded",data-name="plan",target="_blank",rel="noopener noreferrer")
          a.ml-4.only-print(ld="file-uploaded",data-name="plan",target="_blank",rel="noopener noreferrer")


    .page.px-4
      h3 109年度文化內容開發與內容產業領航行動方案切結書

      p 茲保證「#[span(ld="fill",data-name="name")]」計畫案（以下簡稱本計畫案）及立切結書人（即申請人）符合下列事項：
      p 一、承諾申請補助計畫之文件、資料均無虛偽不實之情事，且符合「109年度加速文化內容開發與科技創新應用補助要點」規定。
      p 二、承諾相同或類似之申請案計畫書無獲本院、文化部及其所屬機關(構)、政府捐助之財團法人及財團法人國家文化藝術基金會及國家表演藝術中心補助之情形。
      p 三、承諾計畫案如獲補助，以申請者名義執行獲補助之計畫。
      p 四、本計畫如獲補助，承諾依文化內容策進院核定之計畫書所載內容執行，且需符合「109年度加速文化內容開發與科技創新應用補助要點」規定；計畫書有變更者，亦同。
      p 五、本計畫案如獲補助，承諾不得將獲補助金資格或計畫書轉讓予他人。
      p 六、本計畫案如獲補助，使用補助金額辦理採購時，補助金額占採購金額半數以上，且補助金額在新臺幣一百萬元以上者，承諾應依政府採購法相關規定辦理採購，並受文化內容策進院監督。
      p 七、本計畫案如獲補助，應擔保計畫書內容及依計畫書所辦理之各項工作，均無侵害他人權利或違反法律規定之情事。
      p 八、本計畫案如獲補助，文化內容策進院及文化部於獲補助案執行期間，得要求獲補助者提供書面資料或出席會議說明，並依本院之意見確實執行。另自簽約日起至本院核撥最後一期補助金次日止及其後一年期間內，應配合出席計畫相關宣傳活動。
      p 九、本計畫案如獲補助，應承諾依預算法第六十二條之一規定，不得以置入性行銷進行政策宣導。如有政策宣導，應標示為「廣告」，並揭示本院及文化部全銜。
      p 十、本計畫之內部團隊成員與跨國合製案將依中國民國所得稅法及相關法令規定辦理所得申報扣繳及歸戶事宜，如有不實，願負一切法律責任。
      p 十一、獲補助者應於簽約前配合提供本部核定之計畫書摘要，並無償授權文化部、本院及本院再授權之人，為不限目的、時間、地域及方式(包括但不限於紙本、簡報、網路傳輸)之利用。獲補助者並同意對文化部、本院及本院再授權之人不行使著作人格權。文化部及本院並得另以開放資料(Open Data)之方式對外開放。開放資料授權利用，依據行政院訂定之政府開放資料授權條款http://data.gov.tw/license辦理。
      .row
        .col-md
          p 此致
          p 文化內容策進院
          p 立切結書人（即申請人）：#[span(ld="fill", data-name="contact-name")]
          p 負  責  人：#[span(ld="fill",data-name="pic")]
          p 身分證字號： #[span(ld="fill", data-name="uid")]
        .col-md
          .no-break.text-center
            label 印鑑 ( 列印後用印正本 )
            .row.text-muted.mb-4.no-gutters
              .col-md: .aspect-ratio.ratio-4by3.text-center.text-sm(style="border:1px solid #eee") 公司章#[br](列印後用印一份)
              .col-md: .aspect-ratio.ratio-4by3.text-center.text-sm(style="border:1px solid #eee") 負責人章#[br](列印後用印一份)

      p 中華民國 #[span(ld="fill",data-name="doc-year")] 年 #[span(ld="fill",data-name="doc-month")] 月 #[span(ld="fill",data-name="doc-day")] 日


    .page.px-4
      .border.p-4.border-dark

        h3.text-center 個人資料蒐集、處理、利用同意書

        p 茲授權文化內容策進院依「個人資料保護法」及其他相關法令之規定，蒐集、管理及處理本人之資料，文化內容策進院基於特定目的得儲存、建檔、轉介、運用及處理本人所提供之各項資料。特此同意如上。
        p 此致
        p 文化內容策進院

        .form-check.mb-4
          input.form-check-input(type="checkbox",name="consent",value="consent")
          label.form-check-label 我已閱讀並接受「授權文化內容策進院蒐集使用個人資料說明」。#[span.text-danger.ml-2 （記得勾選）]
        .row
          .col-md: .vertical-center: .w-100
            p 立切結書人(即申請人)： #[span(ld="fill", data-name="contact-name")]
            p 負責人：#[span(ld="fill", data-name="pic")]
            p 身分證字號： #[span(ld="fill", data-name="uid")]
            p 中華民國 #[span(ld="fill",data-name="doc-year")] 年 #[span(ld="fill",data-name="doc-month")] 月 #[span(ld="fill",data-name="doc-day")] 日
          .col-md
            .no-break.text-center
              label 印鑑 ( 列印後用印正本 )
              .row.text-muted.mb-4.no-gutters
                .col-md: .aspect-ratio.ratio-4by3.text-center.text-sm(style="border:1px solid #eee") 公司章#[br](列印後用印一份)
                .col-md: .aspect-ratio.ratio-4by3.text-center.text-sm(style="border:1px solid #eee") 負責人章#[br](列印後用印一份)

      #check-all

      h3 授權文化內容策進院蒐集使用個人資料說明
      p 為遵守個人資料保護法規定，並保障當事人之權利，謹此向您說明本院將如何處理所蒐集到的個人資料：
      p 一、同意本院蒐集、處理及利用您個人資料，所蒐集個人資料之類別不限本院「109年度加速文化內容開發與科技創新應用補助作業要點」申請表內所列。
      p 二、同意本院基於行政管理及業務之相關目的所需，以所提供之個人資料確認身分，與您聯絡，並於申請期間及執行結束後得繼續處理及利用您個人資料。
      p 三、您得依個人資料保護法第三條之規定，就其個人資料向本院行使下列權利：
      ol
        li 查詢或請求閱覽。
        li 請求製給複製本。
        li 請求補充或更正。
        li 請求停止蒐集、處理或利用。
        li 請求刪除。但如係基於行政管理及業務等相關目的所必需，或其他法令有所規範者，本院得拒絕之。
      p 四、您得自由選擇是否提供個人資料或行使個人資料保護法第三條所定之權利，但因提供資料不足或有其他冒用、盜用、不實之情形，可能不能獲得補助資格或影響您受領補助之權益。
      p 五、您所提供之個人資料，本院將依據「個人資料保護法」相關規定進行保密。

  +nbr(2)

  .submit-panel.no-print(style="bottom:0;left:0;right:0;padding:1em 0;border-top:1px solid #ccc")
    .w-1024.mx-auto.rwd
      .d-flex.align-items-stretch.flex-wrap
        div(ld="not submitted"): .d-flex.align-items-stretch
          .btn.btn-primary.mx-1.mb-2(ld="save submit"): .vertical-center: div 暫存進度
          .btn.btn-primary.mx-1.mb-2(ld="submit")
            span 線上送件
            .text-sm 點選後將不能再修改檔案
        .d-none(ld="submitted")
          .btn.btn-primary.disabled.mx-1.mb-2
            span 案件已送出
            .text-sm 無法再進行修改
        .btn.btn-primary.mx-1.mb-2(ld="download")
          .vertical-center: .ld-ext-right 線上文件 PDF 檔下載 #[.ld.ld-spin.ld-spinner.ldld]
        .mx-1.mb-2: .vertical-center: .text-danger(ld="ready-state") 您有未完成的欄位，請完成後再送出。

  +nbr(2)

  .ldcv.ldcvmgr(data-name="flagship-print-timeout",data-lock="true"): .base.w-480.rwd: .inner.card: .card-body: .p-4
    .text-center
      h2 連線逾時
    .py-4: p 主機沒有在一定的時間內產生 PDF 檔，可能是因為服務忙碌中。您可以稍候再重試一次，或者直接將此頁面列印成 PDF 檔做為您的申請書。
    .row
      .col-md
        .btn.btn-lg.btn-block.btn-outline-primary.btn-block(
        onclick="lda.ldcvmgr.toggle('flagship-print-timeout',false).then(function(){print()})") 列印此頁面
      .col-md
        .btn.btn-lg.btn-block.btn-primary(data-ldcv-set="") 稍候再試

  .ldcv.ldcvmgr(data-name="flagship-submitting",data-lock="true"): .base.w-480.rwd: .inner.card: .card-body: .p-4
    .text-center
      div 送件中 ...
      .ld.ld-spin.ld-spinner.text-lg.mt-4
  .ldcv.ldcvmgr(data-name="flagship-submitted",data-lock="true"): .base.w-480.rwd: .inner.card: .card-body: .p-4
    .text-center
      h2 您的案件已送出
      div 案件編號: #[span(ld="fill",data-name="docid")]
    .py-4
      p 請下載申請書 PDF 檔，印出紙本後用印寄回，以利後續作業。
      p 您隨時可以回到這個頁面重新下載 PDF 檔。若需要回到此頁，請由網頁右上角的下拉選單中點選「個人頁面」，即可找到您建立的案件。
    .btn.btn-lg.btn-primary.btn-block.ld-ext-right(ld="download") 線上文件 PDF 下載  #[.ld.ld-spin.ld-spinner.ldld]

  .ldcv.ldcvmgr(data-name="flagship-saving",data-lock="true"): .base.w-480.rwd: .inner.card: .card-body: .p-4
    .text-center
      div 暫存進度中 ...
      .ld.ld-spin.ld-spinner.text-lg.mt-4
  .ldcv.ldcvmgr(data-name="flagship-saved",data-lock="true"): .base.w-480.rwd: .inner.card: .card-body: .p-4
    .text-center
      h2 您的編輯進度已儲存。
    .py-4
      p 您隨時可以回到這個頁面繼續編輯。若需要回到此頁，請由網頁右上角的下拉選單中點選「個人頁面」，即可找到您建立的案件。
    .btn.btn-lg.btn-primary.btn-block.ld-ext-right(data-ldcv-set="") 關閉
  .ldcv.ldcvmgr(data-name="flagship-budget-example"): .base.w-768.rwd: .inner.card: .card-body: .p-2
    h4 預算表填表範例
    p.text-muted.text-sm 「小計」與「補助款」會依據您所填入的單價、數量與自籌款自動計算。備註則為選填。請注意補助款總計不可超過五百萬，且比例不得超過 49% 。
    div(style="overflow-x:scroll"): table.table.table-bordered.text-sm.my-3
      tr
        th(rowspan="2") 預算科目
        th(rowspan="2") 預算明細
        th(rowspan="2") 單價(元)
        th(rowspan="2") 數量
        th(rowspan="2") 單位
        th(rowspan="2") 小計(元)
        th(colspan="2") 分攤金額
        th(rowspan="2") 備註
      tr
        th 自籌款
        th 補助款
      tr
        td 食宿費
        td 便當
        td 100
        td 50
        td 個
        td.bg-light 5000
        td 3000
        td.bg-light 2000
        td 10人*5餐
      tr
        td 食宿費
        td 雙人房
        td 3000
        td 25
        td 房晚
        td.bg-light 75000
        td 50000
        td.bg-light 25000
        td 5房*5晚
    .text-right
      .btn.btn-primary(data-ldcv-set="") 關閉


block script
  +register-locals()
  +script("/dash/js/view/taicca-flagship/form.js")
